!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Required meta tags
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    / FAV AND TOUCH ICONS
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/site.webmanifest", :rel => "manifest"}/
    / Social OG tags
    %meta{:content => "Рекарио – #{@meta_title}", :property => "og:title"}/
    %meta{:content => "company", :property => "og:type"}/
    %meta{:content => "https://recar.io", :property => "og:url"}/
    %meta{:content => "#{@main_image}", :property => "og:image"}/
    %meta{:content => "reCar.io", :property => "og:site_name"}/
    %meta{:content => "Покупка и продажа автомобилей в Украине через друзей и знакомых – #{@meta_title} – #{@options.values.map { |o| [o.first, o.last].join(': ') }.join(', ')}", :property => "og:description"}/
    %link{:href => "/icons/rik-icons/styles.css", :rel => "stylesheet"}/
    / BOOTSTRAP CSS
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :integrity => "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", :rel => "stylesheet"}/
    / FONT ICONS
    %link{:href => "/icons/rik-icons/styles.css", :rel => "stylesheet"}/
    / COUSTOM CSS link
    %link{:href => "/css/style.css", :rel => "stylesheet"}/
    %link{:href => "/css/responsive.css", :rel => "stylesheet"}/
    / COLOR
    %link#color-scheme{:href => "/css/colors/color-1.css", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9]
      <script src="/js/plagin-js/html5shiv.js"></script>
      <script src="/js/plagin-js/respond.min.js"></script>
    %title= "Рекарио – #{@meta_title}"
  %body
    %iframe{:src => "recarioapp://visited/ads/#{@ad.id}/", :style => "display: none"}
    %div
      .nav-wrapper
        .navs
          %a{:href => "/"}
            %img{:src => "/images/logo.svg"}/
          .btn-form.push-right
            %a.btn.btn-icon.left-icon.btn-fill{:href => "/ios"}
              %i.icon.icon-app-store
              %span.btn-text App Store
            %a.btn.btn-icon.left-icon.btn-fill{:href => "/android"}
              %i.icon.icon-google-play
              %span.btn-text Google Play
      = image_tag(@main_image, class: 'main-image')
      .container
        %h1= @meta_title
        .text-center
          %a.btn.btn-open-app.btn-lg{:href => "recarioapp://visited/ads/#{@ad.id}/"}
            %span.btn-text Відкрити в додатку
        - @options.values.each do |option|
          %span.option= "#{option.first}: #{option.last}"
        %hr/
        %p Хочеш дізнатися більше про спільних друзів? Завантажуй додаток!
%html
  :css
    @media (min-width: 767px) {
      .container {
        padding-bottom: 3em;
        position: absolute;
        top: 50%;
        width: 100%;
        background: rgba(255,255,255,0.75);
      }
    }

    @media (max-width: 767px) {
      .navs a img {
        height: 48px;
        margin: 0 4px;
      }

      .navs a.btn {
        padding: 0 12px;
        margin: 0;
        font-size: 11px;
      }
    }

    .main-image {
      width: 100%;
    }

    .navs .btn-form {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
    }

    .nav-wrapper {
      background: rgba(0,0,0,0.75);
      width: 100%;
      display: flex;
      align-items: center;
      position: fixed;
      box-shadow: 5px 15px 150px #000;
    }

    .navs img {
      height: 64px;
      border-radius: 50%;
      box-shadow: 0 5px 25px 1px #555;
      margin-left: 16px;
    }

    .navs {
      height: 64px;
      display: flex;
      width: 100%;
      padding: 8px 0;
    }

    .push-right {
      margin-left: auto;
    }

    .option {
      border: #000 solid 1px;
      border-radius: 2px;
      margin-right: 8px;
      display: inline-block;
      margin-top: 8px;
      padding: 4px;
    }

    .btn-open-app {
      background: rgb(0,0,49);
      color: rgb(51, 122, 183);
      font-weight: bold;
    }

    .btn-open-app:hover {
      color: #fff;
    }
