<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FAV AND TOUCH ICONS   -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Social OG tags -->
    <meta property="og:title" content="Рекарио – <%= @meta_title %>" />
    <meta property="og:type" content="company" />
    <meta property="og:url" content="https://recar.io" />
    <meta property="og:image" content="<%= @main_image %>" />
    <meta property="og:site_name" content="reCar.io">
    <meta property="og:description" content='Покупка и продажа автомобилей в Украине через друзей и знакомых – <%= @meta_title %> – <%= @options.values.map { |o| [o.first, o.last].join(': ') }.join(', ') %>' />

    <link rel="stylesheet" href="/icons/rik-icons/styles.css">


    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- FONT ICONS -->
    <link rel="stylesheet" href="/icons/rik-icons/styles.css">

    <!--   COUSTOM CSS link  -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <!-- COLOR -->
    <link rel="stylesheet" href="/css/colors/color-1.css" type="text/css" id="color-scheme" />

    <!--[if lt IE 9]>
        <script src="/js/plagin-js/html5shiv.js"></script>
        <script src="/js/plagin-js/respond.min.js"></script>
    <![endif]-->

    <title><%= "Рекарио – #{@meta_title}" %></title>
  </head>

  <body>
    <iframe style="display: none" src="recarioapp://visited/ads/<%= @ad.id %>/"></iframe>
    <div>
      <div class="nav-wrapper">
        <div class='navs'>
          <a href='/'><img src="/images/logo.png"></a>
          <div class='btn-form push-right'>
            <a href="/ios" class="btn btn-icon left-icon btn-fill">
                <i class="icon icon-app-store"></i>
                <span class="btn-text">App Store</span>
            </a>
            <a href="/android" class="btn btn-icon left-icon btn-fill">
                <i class="icon icon-google-play"></i>
                <span class="btn-text">Google Play</span>
            </a>
          </div>
        </div>
      </div>
      <%= image_tag(@main_image, class: 'main-image') %>
      <div class='container'>
        <h1><%= @meta_title %></h1>
        <div class="text-center">
          <a href="recarioapp://visited/ads/<%= @ad.id %>/" class="btn btn-open-app btn-lg">
            <span class="btn-text">Открыть в приложении</span>
          </a>
        </div>
        <% @options.values.each do |option| %>
          <span class='option'><%= "#{option.first}: #{option.last}" %></span>
        <% end %>
        <hr />
        <p>Хочешь узнать подробнее об общих друзьях? Скачай приложение!</p>
      </div>
    </div>
  </body>
</html>

<style>
  @media (min-width: 767px) {
    .container {
      padding-bottom: 3em;
      position: absolute;
      top: 50%;
      width: 100%;
      background: rgba(255,255,255,0.75);
    }
  }

  @media (max-width: 767px) {
    .navs a img {
      height: 48px;
      margin: 0 4px;
    }

    .navs a.btn {
      padding: 0 12px;
      margin: 0;
      font-size: 11px;
    }
  }

  .main-image {
    width: 100%;
  }

  .navs .btn-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }

  .nav-wrapper {
    background: rgba(0,0,0,0.75);
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    box-shadow: 5px 15px 150px #000;
  }

  .navs img {
    height: 64px;
    border-radius: 50%;
    box-shadow: 0 5px 25px 1px #555;
    margin-left: 16px;
  }

  .navs {
    height: 64px;
    display: flex;
    width: 100%;
    padding: 8px 0;
  }

  .push-right {
    margin-left: auto;
  }

  .option {
    border: #000 solid 1px;
    border-radius: 2px;
    margin-right: 8px;
    display: inline-block;
    margin-top: 8px;
    padding: 4px;
  }

  .btn-open-app {
    background: rgb(0,0,49);
    color: rgb(51, 122, 183);
    font-weight: bold;
  }

  .btn-open-app:hover {
    color: #fff;
  }
</style>