#first-screen
  %h1 Dreamcar и Рекарио дарят Honda&nbsp;S2000 и три&nbsp;iPhone&nbsp;11
  .container-fluid
    .row
      .col-lg-6
        #intro
          .text-center= image_tag('/intro.png', class: 'img-fluid')
      .col-lg-6#verify
        .card.mt-3
          .card-header
            Проверить результаты
          .card-body
            %p Для того, чтобы розыгрыш прошел максимально честно, мы публикуем изменения каждые 5-10 минут. Таблица будет доступна в течении всего розыгрыша и каждый сможет в любой момент проверить результаты.
            %form.mb-2{ action: '/network#verify' }
              .input-group
                %input.form-control{ placeholder: 'Пригласительный код', name: 'refcode', value: params[:refcode] }
                %button.btn Проверить
            %table.table.table-striped.table-bordered.table-hover.table-sm
              %thead
                %th Код
                %th Телефон
                %th Действие
                %th Дата
              = render @events
          .card-footer
            = paginate @events, params: { anchor: :verify }

.container-fluid.mt-3
  %h2 Как принять участие и повысить свои шансы на победу?
  .row
    .col-lg-4.col-xs-12.mt-3
      .card
        .card-body
          %h5.card-title 1. Установить приложение
          %p.card-text
            Рекарио — покупка и продажа авто через друзей и знакомых.
            = link_to 'Установить', 'https://recar.io/get', target: :blank
            (iOS и Android)
    .col-lg-4.col-xs-12.mt-3
      .card
        .card-body
          %h5.card-title 2. Зайти в приложение
          %p.card-text
            Используй свой личный номер телефона, именно по этому номеру мы будем звонить победителю
    .col-lg-4.col-xs-12.mt-3
      .card
        .card-body
          %h5.card-title 3. Получить пригласительный код
          %p.card-text
            Для этого нужно перейти в раздел Настройки в приложении. Всё, ты участвуешь в розыгрыше!
    .col-lg-4.col-xs-12.mt-3
      .card
        .card-body
          %h5.card-title Увеличь шансы ВДВОЕ!
          %p.card-text
            Просто укажи, кто из друзей пригласил тебя в Рекарио, введя его пригласительный код
    .col-lg-4.col-xs-12.mt-3
      .card
        .card-body
          %h5.card-title Получи в ДЕСЯТЬ РАЗ БОЛЬШЕ шансов
          %p.card-text
            Для этого пригласи 10 друзей в Рекарио, попросив их ввести твой пригласительный код
    .col-lg-4.col-xs-12.mt-3
      .card
        .card-body
          %h5.card-title &times;1000 шансов 😳 😳 😳
          %p.card-text
            Ты можешь иметь <b>в тысячу раз больше шансов на победу</b>, если пригласишь 1000 друзей!

#carouselExampleDark.carousel.slide.mt-3{"data-bs-ride" => "carousel", "data-bs-interval": "false"}
  .carousel-indicators
    %button.active{"aria-current" => "true", "aria-label" => "Slide 1", "data-bs-slide-to" => "0", "data-bs-target" => "#carouselExampleDark", :type => "button"}
    %button{"aria-label" => "Slide 2", "data-bs-slide-to" => "1", "data-bs-target" => "#carouselExampleDark", :type => "button"}
    %button{"aria-label" => "Slide 3", "data-bs-slide-to" => "2", "data-bs-target" => "#carouselExampleDark", :type => "button"}
    %button{"aria-label" => "Slide 4", "data-bs-slide-to" => "3", "data-bs-target" => "#carouselExampleDark", :type => "button"}
    %button{"aria-label" => "Slide 5", "data-bs-slide-to" => "4", "data-bs-target" => "#carouselExampleDark", :type => "button"}
    %button{"aria-label" => "Slide 6", "data-bs-slide-to" => "5", "data-bs-target" => "#carouselExampleDark", :type => "button"}
  .container-fluid
    %h2 Как это работает?
  .carousel-inner
    .carousel-item.active
      .carousel-caption
        %h5 Честный и прозрачный процесс
        %p Мы проведём розыгрыш так же, как и Dreamcar проводил все свои предыдущие розыгрыши, чтобы все было максимально честно и понятно.
    .carousel-item
      .carousel-caption
        %h5 Составим таблицу участников
        %p Где каждая строчка будет давать шанс на выигрыш.
        %p То есть КАЖДАЯ строчка может быть выбрана генератором случайных чисел <b>random.org</b>.
    .carousel-item
      .carousel-caption
        %h5 Более активные участники получают больше шансов
        %p И самое главное — у каждого человека, установившего приложение, может быть БОЛЕЕ одной строчки в итоговом файле!
    .carousel-item
      .carousel-caption
        %h5 Что это значит на практике?
        %ul.text-start
          %li Ты получишь одну строчку за то, что просто установил приложение
          %li Ты получишь одну строчку за то, что указал, кто тебя пригласил
          %li Ты получишь по строчке за <b>КАЖДОГО</b> друга, которого приведешь в Рекарио!
    .carousel-item
      .carousel-caption
        %h5 И что в итоге?
        %p Таким образом, если ты установил приложение, указал, кто тебя пригласил и сам пригласил 10 друзей — у тебя будет <b>в 11 раз больше шансов на выигрыш</b>, чем у того, кто просто установил приложение!
    .carousel-item
      .carousel-caption.d-md-block
        %h5 Что насчёт тех, кто уже давно установил приложение?
        %p В розыгрыше участвуют все — как те, кто только планирует установить приложение, так и те, кто уже давно с нами.
        %span.visually-hidden Следующий
  %button.carousel-control-prev{"data-bs-slide" => "prev", "data-bs-target" => "#carouselExampleDark", :type => "button"}
    %span.carousel-control-prev-icon{"aria-hidden" => "true"}
    %span.visually-hidden Предыдущий
  %button.carousel-control-next{"data-bs-slide" => "next", "data-bs-target" => "#carouselExampleDark", :type => "button"}
    %span.carousel-control-next-icon{"aria-hidden" => "true"}
.container-fluid.mt-4
  %h2 Остались вопросы?
  %p
    Больше подробностей в нашем
    = link_to 'Инстаграме', 'https://www.instagram.com/recar.io/', target: :blank
    Пиши в директ — мы ответим на все вопросы.
