<h1><%= "#{@model_year.maker} #{@model_year.model} #{@model_year.year}" %></h1>

<p class='text-left'>от <%= @model_year.min_price %> $ до <%= @model_year.max_price %> $</p>
<p class='text-left'>средняя цена – <%= @model_year.avg_price.to_i %> $</p>

<h2>Сейчас в продаже:</h2>
<ul>
  <% @ads.group_by { |ad| ad.details['region'].first }.transform_values { |ads| ads.count }.each do |region, ads_count| %>
    <li class='text-left'><%= "#{region} – #{ads_count} объявлений" %></li>
  <% end %>
</ul>