.row
  .col-md-6.offset-md-3
    = link_to('&larr; Изменить бюджет'.html_safe, search_models_path, class: 'breadcrumbs-back')
    %h1= "#{@models.first.maker} #{@models.first.model}"
    - @models.each do |model|
      .row.model-year-item
        .col-10
          %h4= "#{@models.first.maker} #{@models.first.model} #{model.year}"
          - if (model.min_price.to_f / 10).ceil * 10 == (model.max_price.to_f / 10).ceil * 10 && (model.min_price.to_f / 10).ceil * 10 == (model.avg_price.to_f / 10) * 10.ceil
            %span.price #{model.min_price}&nbsp;$
          - else
            от
            %span.price #{model.min_price}&nbsp;$
            до
            %span.price #{model.max_price}&nbsp;$
            %br/
            в среднем
            %span.price #{model.avg_price.to_i}&nbsp;$
        .col-2.text-right
          = link_to('&rarr;'.html_safe, show_model_year_path(maker: model.maker, model: model.model, year: model.year), class: 'show-more-link')
